<h2>Food</h2>

<div *ngIf="loadFoodsApi.pending"><mat-spinner></mat-spinner></div>
<mat-accordion *ngIf="!loadFoodsApi.pending">
  <div *ngFor="let food of foods" class="food-panel-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{food.name}}</mat-panel-title>
      </mat-expansion-panel-header>
      {{food.quantity}}
    </mat-expansion-panel>
  </div>
</mat-accordion>

<button mat-raised-button color="primary" id="add-food-button" (click)="onAddFoodClicked()">Add Food</button>
